html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #FDB515;
}

.container-main {
    display: block;
    text-align: center;

    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    color: black;

    background-color: #f3f3f3;

    /* min-width: 360px;
    max-width: 720px; */

    margin-top: 130px;

    padding-bottom: 40px;

    border-bottom: 20px solid #003262;
}

.container-secondary {
    display: block;
    text-align: center;

    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    color: #003262;

    background-color: #f3f3f3;

    /* min-width: 360px;
    max-width: 720px; */

    margin-top: 20px;
    margin-bottom: 20px;

    padding-top: 20px;
    padding-bottom: 20px;

    border-bottom: 20px solid #FDB515;
}

.text-yellow {
    color: #FDB515;
    font-weight: bold;
}

#download-icon {
    font-size: 20px;
}

#portrait {
    width: 200px;
    height: 200px;

    border-radius: 50%;
    margin-top: -80px;

    border: 2px solid #FDB515;;
}

#name {
    font-size: 400%;
    font-weight: 500;
    color: #003262;

    padding-top: 2%;
}

#education {
    font-size: 110%;
    font-weight: 400;
    color: #003262;

    padding-top: 1%;
}

#contact {
    color: #003262;
    font-size: 100%;

    padding-top: 25px;
}

#email {
    margin: 0;
}

#github {
    margin: 0;
}

#linkedin {
    margin: 0;
}